/* ----------------------------------------------------
   GENERAL PAGE + HEADER ALIGNMENT
---------------------------------------------------- */

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background: #fdfdfd;
    color: #222;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #111;
    text-align: center;
    border-bottom: 5px solid #0c5253;
}

header {
    background: #f8f9fb;           /* light gray-blue */
    padding: 10px 0 10px;
    border-bottom: 5px solid #0c5253;
}

.header {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: royalblue;
    font-weight: 700;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0 10px;
    list-style: none;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.2s;
}

.nav a:hover {
    color: #0c5253;
}

/* ----------------------------------------------------
   FOOTER STYLING
---------------------------------------------------- */
footer {
    background: #f8f9fb;           /* light gray-blue */
    padding: 30px 0 20px;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #333;
    border-top: 1px solid #e0e4ea;
}

.footer {
    margin: 6px 0;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;
}

footer .links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

footer .links li {
    display: inline;
}

footer .links a {
    color: #0c5253;              /* ACCENT COLOR */
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

footer .links a:hover {
    text-decoration: underline;
}

.copy {
    margin-top: 12px;
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}

footer .copy a {
    color: #0c5253;
    text-decoration: none;
    font-weight: 500;
}

footer .copy a:hover {
    text-decoration: underline;
}

.certified {
    text-align: center;
}

.certified a {
    text-decoration: none;
    color: #0c5253;
}

.certified a:hover {
    text-decoration: underline;
}


.valid {
    text-align: center;
}

/*--------------------------
          Main 
--------------------------*/

h2 {
    text-align: left;
    margin-bottom: -10px;
    color: #111;
    font-size: 1.5rem;
}
h3 {
    text-align: left;
    margin-bottom: 10px;
    color: #111;
    font-size: 1rem;
}

p{
    text-align: left;
    line-height: 1.6;
}

.title{
    padding:20px;
}

main {
    padding: 20px;
}

.descript {
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #1c9fa6;

}   



